<legend>Show: {{show.name}} Scene</legend>
<tabset>
<tab heading="Show Time">
</tab>
<tab heading="Data">
hello there
</tab>
<tab heading="Actions" active="debug.actionsTab">
<div class="span3 well" style="display:inline-block;">
	<h3>Actions available</h3>
	<ul id="srcList" ui-sortable="sortOptions" class="actionList" ng-model="showActions" style="min-height:10px;">
	<li class="ui-state-default" ng-repeat="item in showActions">{{item.name}}</li>
	</ul>
</div>
<div class="span3 well" style="display:inline-block;">
	<h3>Actions in scene</h3>
	<ul id="destList" ui-sortable="sortOptions" class="actionList" ng-model="sceneActions" style="min-height:10px;">
	<li class="ui-state-default" ng-repeat="item in sceneActions">{{item.name}}</li>
	</ul>
</div>
</tab>
</tabset>