<legend>Show: {{show.name}} Scene</legend>
<tabset>
<tab heading="Show Time" active="debug.setTab">
<div id="st-wrapper">
<div id="st-controls" class="well">
<h3>Controls</h3>
<div class="st-control" ng-repeat="action in sceneActions">
{{action.name}}<div class="right"><button class="btn btn-large">In</button><button class="btn btn-large">Out</button></div>
</div>
</div>
</div>
<div class="right">
<div class="st-preview">Preview #1</div>
<div class="st-preview">Preview #2</div>
</div>
</tab>
<tab heading="Data">
hello there
</tab>
<tab heading="Actions">
<div class="span3 well" style="display:inline-block;">
	<h3>Actions available</h3>
	<ul id="srcList" ui-sortable="sortOptions" class="actionList" ng-model="showActions" style="min-height:10px;">
	<li class="ui-state-default" ng-repeat="item in showActions">{{item.name}}</li>
	</ul>
</div>
<div class="span3 well" style="display:inline-block;">
	<h3>Actions in scene</h3>
	<ul id="destList" ui-sortable="sortOptions" class="actionList" ng-model="sceneActions" style="min-height:10px;">
	<li class="ui-state-default" ng-repeat="item in sceneActions">{{item.name}}</li>
	</ul>
</div>
</tab>
</tabset>