<ul class="breadcrumb">
	<li class="active">All Shows</li>
	<li class="right"><a href="#/settings"><i class="icon-gear"></i></a></li>
</ul>
<form class="control-bar form-inline">
<button class="btn" ng-click="removeShows()"><i class="icon-remove"></i>Remove</button>
<!-- <button class="btn" ng-click=""><i class="icon-copy"></i>Copy</button> -->
<button class="btn" ng-click="newShowCollapsed = !newShowCollapsed"><i class="icon-plus"></i>New Show</button>
</form>
<div collapse="!newShowCollapsed">
	<form class="well form-inline">
	<label>Name</label>
	<input ng-model="name" type="text" placeholder="Show Name"/>
	<button class="btn" ng-click="addShow()"><i class="icon-pencil"></i>Save</button>
	</form>
</div>
<div listview items="shows" visible-items="visibleShows" search="queryShows()" select="">
<table class="table" style="width: 100%">
	<thead>
	<tr>
		<th width="16px"></th>
		<th>Show</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="show in visibleShows" ng-class="{active: isSelected(show)}" ng-click="selectShow(show)" >
		<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(show)" ng-click="updateSelection($event, show)" /></td>
		<td><a href="#/show/{{show.id}}">{{show.name}}</a></td>
	</tr>
	</tbody>
</table>		
</div>