<legend>Shows</legend>
<div listview search="queryShows()" select="">
<table class="table" style="width: 100%">
	<thead>
	<tr>
		<th></th>
		<th>Show</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="show in shows" ng-class="{active: isSelected(show)} ng-click="selectShow(show)" >
		<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(show)" ng-click="updateSelection($event, show)" /></td>
		<td><a href="#/show/{{show.id}}">{{show.name}}</a></td>
	</tr>
	</tbody>
</table>		
</div>