<legend>Show: {{show.name}}</legend>
<tabset>
<tab heading="Scenes">
<div ng-controller="ShowScenesCtrl">
<!-- <p>{{show.id}}</p> -->
<a ng-click="newSceneCollapsed = !newSceneCollapsed">Create a New Scene</a>
</p>
<div collapse="!newSceneCollapsed">
	<form class="well form-inline">
	<label>Name</label>
	<input name="sceneName" ng-model="sceneName" type="text" placeholder="Scene Name" />
	<button class="btn" ng-click="addScene()"><i class="icon-plus"></i>Add New</button>
	</form>
</div>
<form class="control-bar form-inline">
<button class="btn" ng-click="removeScenes()"><i class="icon-remove"></i>Remove</button>
<button class="btn" ng-click="isActive=true"><i class="icon-copy"></i>Copy</button>
</form>
<div listview search="" select="">
<table class="table" style="width: 100%">
	<thead>
	<tr>
		<th width="16px"></th>
		<th>Scene</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="(id, scene) in show.scenes" ng-class="{active: isSelected(id)}" ng-click="selectScene(scene)" >
		<td width="16px" align="center"><input type="checkbox" ng-checked="isSelected(id)" ng-click="updateSelection($event, id)" /></td>
		<td><a href="#/show/{{show.id}}/{{id}}">{{scene.name}}</a></td>
	</tr>
	</tbody>
</table>		
</div>
</div>
</tab>
<!-- 
<tab heading="Data">
</tab>
 -->
<tab heading="Actions" active="isActive">
<div ng-controller="ShowActionsCtrl">
<!-- <p>{{show.id}}</p> -->
<form class="control-bar form-inline well">
<select ng-model="currentAction" ng-options="action.name for action in show.actions" ng-disabled="show.actions.length == 0"></select>
<button class="btn" ng-click="removeAction()"><i class="icon-remove"></i>Remove</button>
<input ng-model="newActionName" type="text" placeholder="Action Name" />
<button class="btn" ng-click="addAction()"><i class="icon-plus"></i>Add New</button>
</form>
<legend>Commands</legend>
</div>
</tab>
