
.left {
	float: left;
}

.right {
	float: right;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  xfont-weight: bold;
  xline-height: 16px;
  xcolor: inherit;
  text-rendering: optimizelegibility;

  font-weight: normal;
  xline-height: 1;
  color: #333;
}

h1,
h2,
h3 {
  line-height: 28px;
}

h1 {
  font-size: 24.5px;
}

h2 {
  font-size: 17.5px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

/* Buttons with icons */
button i {
	margin-right: 8px;
	color: #666;
}

i.icon-remove {
	color: #f66;
}

h3 {
	font-size: 1.2em;
	line-height: 20px;
}

ul.actionList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.actionList li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}

/* Original seed app below here */
/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Show Time */
.st-preview {
	width: 482px;
	margin-bottom: 8px;
}

div#st-wrapper {
	float: left;
	width: 100%;
	margin-left: -490px; /* 2px for the border currently */
}

div#st-controls {
	margin-left: 490px;
	min-height: 512px;
}

div.st-control {
	height: 54px;
}

div.st-control button {
	width: 80px;
	margin-left: 8px;
}

div#st-log {
	border: 1px solid #ccc;
}

/* Show Actions Tab */
div.action form {
	min-height: 400px;
}

table.grid td {
	background-color: #fff
}

table.grid th, table.grid td {
	padding: 0;
}

table.grid input[type="text"], table.grid input[type="number"] {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

/* Show - Action Properties */
button.preview {
	width: 50px;
}

div#actionControls form {
	margin-bottom: 16px;
}

div#actionControls form.collapse {
	margin-top: 16px;
	margin-bottom: 8px;
}

div#actionControls.well {
	padding-bottom: 0px;
}


/* Scene Preview */
div.st-preview button {
	width: 37px;
}

div.st-preview input {
	width: 90px;
}

div#previews {
	margin-top: 0px;
}

div#previews > p {
	padding-top: 8px;
	padding-bottom: 9px;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

/* Settings */
ul.breadcrumb li.right a {
	text-decoration: none;
}

/* Scene */
div#sceneSelect select {
	margin-bottom: 0px;
	width: 190px;
}